<div class="edit-wrapper">

<h1>Now watch you whip (kill it!). Now watch me nae nae (okay!).</h1>

<div class="reggie">
<form style="color:black; font-size: 20px" name="edit" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <input class="reg-fields" type="text" name="first_name_edit" value="{{fname}}"><br>
  FIRST NAME<br>
  <input class="reg-fields" type="text" name="last_name_edit" value="{{lname}}"><br>
  LAST NAME<br>
  <input class="reg-fields" type="email" name="email_edit" value="{{email}}"><br>
  EMAIL<br>
  <input class="reg-fields" type="password" placeholder="Don't go changing" name="password_edit"><br>
  PASSWORD<br>
  <input class="reg-fields" type="text" name="age_edit" value="{{age}}"><br>
  AGE<br>
  <input class="reg-fields" type="text" name="city_edit" value="{{city}}"><br>
  CITY<br>
  <input class="reg-fields" type="text" name="homepage_edit" value="{{homepage}}"><br>
  HOMEPAGE<br>
  <input id='update' type="submit" value="UPDATE">
</form>
</div>


</div>
