<div class="edit-wrapper">

    <h1>Edit your Profile</h1>

    <div class="reggie">
        <form style="color:black; font-size: 20px" name="edit" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}"> First Name<br>
            <input class="reg-fields" type="text" name="first_name_edit" value="{{fname}}"><br> Last Name<br>
            <input class="reg-fields" type="text" name="last_name_edit" value="{{lname}}"><br> Email
            <br>
            <input class="reg-fields" type="email" name="email_edit" value="{{email}}"><br> Password
            <br>
            <input class="reg-fields" type="password" placeholder="saved" name="password_edit"><br> Age
            <br>
            <input class="reg-fields" type="text" name="age_edit" value="{{age}}"><br> City
            <br>
            <input class="reg-fields" type="text" name="city_edit" value="{{city}}"><br> Homepage
            <br>
            <input class="reg-fields" type="text" name="homepage_edit" value="{{homepage}}"><br>
            <input id='update' type="submit" value="UPDATE">
        </form>
    </div>


</div>
