<div class="signers-wrapper">
    <h1>Fellow people who believe in our goal</h1>

    {{#each list}}
        <ul>
            <li>
                {{first_name}} {{last_name}}
                {{#if age}}
                    ( {{age}}
                {{else}}
                    {{#if city}}
                        ( {{city}})
                    {{/if}}
                {{/if}}
                {{#if city}}, {{city}})
                {{else}}
                    {{#if age}}){{/if}}
                {{/if}}
            </li>
        </ul>
    {{/each}}

    <h4>Let's look at that John Hancock again! <a href="/signed">Click Here!</a></h4>
